body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#addUserForm {
  max-width: 400px;
}

#addUserForm div {
  margin-bottom: 20px;
}

input, select {
  float: right;
}
