

<form id="addUserForm"> 
    <label>
    Username (required):
        <input type="text" id="username" name="username">
    </label>
    <button>Create new user</button>
</form>
<p id="notificationContainer"></p>
<script src="/js/addUser.js"></script>